@font-face {
  font-family: 'RobotoThin';
  src: url('./Fonts/Roboto-Thin.ttf');
}

*{
  font-family: 'RobotoThin', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right,rgb(123,67,151),rgb(220,36,48));
}